.app-container {
  --layout-header-height: 80px;
  --layout-sidebar-collapsed: 80px;
  --layout-sidebar-expanded: 260px;
  --layout-main-padding: 32px;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: var(--layout-main-padding);
  display: flex;
  flex-direction: column;
}

.layout-body {
  display: flex;
  min-height: calc(100vh - var(--layout-header-height));
  margin-top: var(--layout-header-height);
}

.content-area {
  flex-grow: 1;
  margin-left: var(--layout-sidebar-collapsed);
  background-color: var(--muted);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--layout-header-height));
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.layout-body:has(.sidebar:hover) .content-area {
  margin-left: var(--layout-sidebar-expanded);
}

.auth-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--muted);
}

@media (max-width: 850px) {
  app-sidebar {
    display: none;
  }

  .content-area {
    margin-left: 0;
  }

  .main-content {
    padding: 16px;
  }
}
